.rounded-triangle {
    width: 120px;
    height: 120px;
    background-color: #FFD700;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-radius: 10px;
}

.clip-triangle {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-radius: 100px;
}

@keyframes horizontalMove {
    0% {
        transform: translateX(-40%);
    }
    50% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(-40%);
    }
}

.animate-horizontal {
    animation: horizontalMove 60s ease-in-out infinite;
}

.triangle {
	position: relative;
	background-color: orange;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  10em;
	height: 10em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
